@{
    ViewBag.Title = "Current_Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IJMRP.Models.tblCurrentIssue
           <style>
               .modal-body {
                   max-height: calc(100vh - 210px);
                   overflow-y: auto;
               }
           </style>
<script>
  
   
    $(document).ready(function () {

       


        $.ajax({


            url: '/Home/loadci',
          //  type: 'GET',
            ////contentType: "application/json; charset=utf-8",
            //data: "{}",
            dataType: "json",
            success: function (data) {
                var row = ""; var clsname;
                debugger;
                $.each(data, function (index, item) {
                    var val;
                    if (item.CURENTISSUE_FILEPATH != null)
                        val = ("<span class=\"label label-danger pull-right btn btn-xs\"><i class=\"fa fa-lg fa-download\" aria-hidden=\"true\"></i>&nbsp<a download href=\"" + item.CURENTISSUE_FILEPATH.substring(1, item.CURENTISSUE_FILEPATH.lenth) + "\">Download</a></span>");
                    else
                        val=" "
                    //var dat1 = new Date(parseInt(item.HOL_DATE.substr(6)));
                    //var dat = dat1.toDateString("YYYY-MM-DD");+ index + "<td><td>"+ index + "</td><td>"<i class="fa fa-clock-o"></i> 12.10.  

                    if (index % 2 == 0) {
                        clsname = "warning";
                    }
                    else {
                        clsname = "success";
                    }


                    row += item.CURENTISSUE_GROUP + "<li class="+clsname+"-element id=\"task9\">"+
                       "<strong>"+ item.CURENTISSUE_NAME + "</strong><br/>Author:"+'&nbsp&nbsp' + item.CURENTISSUE_AUTHOR+"<br/>"
                    
               + val +
                   "<span class=\"pull-right\">&nbsp;&nbsp;&nbsp</span><a href=\"#\" class=\"pull-right  btn btn-xs btn-info\"  data-toggle=\"modal\" data-target=\"#myModal\"  id=" + item.CURENTISSUE_ID + ">Abstract</a>&nbsp;&nbsp;&nbsp" +
                                 " </li>";
                    

                });
                $("#ci").html(row);
            },
            error: function (result) {
                alert("Error");
            }
        })


        //$("#UID").change(function () {
        //    this.value = this.value.toUpperCase();
        //});
       
   
        $('#ci').on("click", "li .pull-right.btn.btn-xs.btn-info", function (e) {
            e.preventDefault();
            var pid = $(this).attr("id");;

            debugger;
            $.ajax({


                url: '/Home/loaAbstract?id='+pid,
                //  type: 'GET',
                ////contentType: "application/json; charset=utf-8",
                //data: "{}",
                dataType: "json",
                success: function (data) {
                    debugger;
                    
                    $("#MT").html(data.CURENTISSUE_NAME.toUpperCase());




                    
                    $("#MB").html(data.CURENTISSUE_ABSTRACT);
                },
                error: function (result) {
                    alert("Error");
                }
            })
        });
          
       
            
       

    })
</script>

<div id="topbar" class="row wrapper border-bottom white-bg page-heading" style="border-bottom: 0px solid #e7eaec !important">
    <ol class="breadcrumb">
        <li>
        </li>
        <li class="active">
            <strong>Widgets</strong>
        </li>
    </ol>
</div>


<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
    </div>
    <div class="col-lg-1">

    </div>
</div>

<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
        <div class="ibox-heading">
            <img src="~/img/current-issue-mainpage-new.jpg"  style="width:99.8%"/>

        </div>

        @*<legend>Send Email </legend>*@

        @*<div class="col-lg-1">

            </div>*@

        @*<div class="col-lg-10">*@



        @using (@Html.BeginForm("ContuctUS", "Home", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
        {
            <div class="ibox">
    <div class="ibox-content">
        <center>  <h3 style="color:blueviolet">@ViewBag.CurentArchive</h3></center>
        @*<p class="small"><i class="fa fa-hand-o-up"></i> </p>*@
        <ul id="ci" class="sortable-list connectList agile-list ui-sortable" ></ul>
</div>
</div>




        }

        @*</div>*@
        @*<div class="col-lg-1">

            </div>*@
    </div>

    <div class="col-lg-1">

    </div>
</div>


<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header label-warning-light">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="MT" class="modal-title "></h4>
            </div>
            <div id="MB" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->